<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "TestBean"
          class = "ru.gitmaxlla.itandp.Bean">
        <constructor-arg value = "Works"/>
    </bean>

    <bean id = "TestTable"
          class = "ru.gitmaxlla.itandp.TableLombokExample">
        <constructor-arg name = "width" value = "100"/>
        <constructor-arg name = "height" value = "100"/>
        <constructor-arg name = "depth" value = "100"/>
        <constructor-arg name = "price" value = "100.0"/>
        <constructor-arg name = "mass" value = "100.0"/>
        <constructor-arg name = "hardness" value = "100.0"/>
        <constructor-arg name = "name" value = "Table for testing"/>
        <constructor-arg name = "condition" value = "UNSPECIFIED"/>
        <constructor-arg name = "foldable" value = "false"/>
        <constructor-arg name = "surfaceDurability" value = "100.0"/>
        <constructor-arg name = "seatsNumber" value = "100"/>
    </bean>
</beans>
